* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-bg {
    background-image: url("../images/fashionbackground.jpg");
    background-position: center;
    background-size: cover;
    padding: 2rem 17rem;
    margin: auto;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

#logo {
    text-decoration: none;
    color: white;
    font-size: 30pt;
    font-weight: bolder;
    font-family: cursive;
}

#nav-links {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

#ul-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: transparent;
    padding: 2px 26px;
    border-radius: 2rem;
    border: 2px solid white;
}

.header-text {
    color: white;
    font-size: 30px;
    margin-top: 10rem;

}

.text-color {
    color: aquamarine;
}

.about-section {
    margin: 4rem 10rem;
    display: flex;
    gap: 4rem;

}

.images {
    display: flex;
    width: 50%;
    gap: 20px;
}

.about-text {
    width: 50%;
    font-size: 17px;

}

.about-text h5 {
    color: rgb(255, 128, 0);

}

.about-text h2 {
    font-size: 30px;
}

.images img {
    width: 246px;
    height: 311px;

}

.about-btn {
    border: none;
    background-color: orange;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
margin-top: 20px; 
}

.about-btn a {
    color: white;
    text-decoration: none;
}

.about-btn:hover {
    background-color: green;
}

#nav-links a:hover {
    color: brown;
}

#beach {
    margin-top: 50px;

}

.serve-section {
    margin: 3rem 10rem;

}

.serve-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image {
    width: 50%;
    font-size: 18px;
}

.image img {
    width: 100%;
}

.serve-text {
    padding-bottom: 2rem;
    width: 50%;
    font-size: 20px;
    padding-top: 5rem;
}

.serve-text h5 {
    color: rgb(255, 128, 0);

}

.serve-text h2 {
    font-size: 50px;
}

.image a {
    text-decoration: none;
    color: rgb(255, 128, 0);


}
.image h3 {
    color: rgb(255, 128, 0);
}

.serve-btn {
    text-align: center;
    margin-top: 2rem;
}

.header-btn:hover {
color: red;
}

.testimage h3 {
    color: rgb(255, 128, 0);

}

.testimonials-section {
    padding-top: 100px;
}